@charset "UTF-8";
* { margin: 0; padding: 0; font-family: 'Crimson Text', serif; font-size: 16px; }

@media (max-width: 768px) { body { color: black; padding-top: 20px; margin: auto; }
  /* Menú navegación */
  .logo { display: inline-block; width: 15%; }
  nav { display: inline-block; width: 100%; text-align: center; }
  .menu { display: -ms-grid; display: grid; padding: 0px; -ms-grid-columns: (1fr)[5]; grid-template-columns: repeat(5, 1fr); /* Hover Menú*/ }
  .menu li { list-style: none; color: black; font-size: 14px; text-decoration: none; margin: 20px; }
  .menu li a:hover { color: #BABDAE; text-decoration: none; }
  .menu li a { color: black; text-decoration: none; margin: 0px; display: inline-block; }
  /* Menu hamburguesa */
  .btn-menu { margin-right: 30px; font-size: 25px; color: #BABDAE; cursor: pointer; display: none; }
  ul.show { top: 65px; }
  /* Themes Section */
  .main-themes { padding-top: 25px; padding-bottom: 25px; }
  .themes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  /* H3 Homepage */
  .titulos { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: black; text-align: center; font-size: 24px; line-height: 34px; letter-spacing: 2px; padding-top: 25px; }
  .destacado { display: block; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; width: 23%; border-color: #BABDAE; }
  /* Footer */
  hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; width: 90%; border-color: #BABDAE; }
  footer { color: black; padding-top: 2%; padding-bottom: 2%; margin: 0%; width: 100%; height: 150px; text-align: center; }
  footer img { width: 30%; }
  footer h5 { margin: 20px; }
  footer a { text-decoration: none; color: black; font-size: small; }
  footer p { text-decoration: none; text-align: left; font-size: small; }
  /* Hover Footer */
  footer a:hover { color: #BABDAE; } }

.pre-footer { height: 180px; background-color: #BABDAE; }

.texto-pre-footer { color: black; padding-top: 75px; margin-left: 5%; font-size: 20px; text-align: center; }

p { letter-spacing: 2px; font-size: 14px; opacity: 50%; }

@media (min-width: 769px) { body { color: black; padding-top: 20px; margin: auto; }
  /* Menú navegación */
  .logo { display: inline-block; width: 10%; padding-top: 25px; padding-bottom: 25px; }
  nav { display: inline-block; width: 100%; text-align: center; }
  .menu { display: -ms-grid; display: grid; padding: 0px; -ms-grid-columns: (1fr)[5]; grid-template-columns: repeat(5, 1fr); }
  .menu li { list-style: none; color: black; font-size: 20px; text-decoration: none; margin: 20px; }
  /* Hover Menú*/
  .menu li a:hover { color: #BABDAE; text-decoration: none; }
  .menu li a { color: black; text-decoration: none; margin: 0px; display: inline-block; }
  /* Themes Section */
  .hero-image { background-image: url("../images/contact.jpg"); display: -webkit-box; display: -ms-flexbox; display: flex; height: 350px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }
  .hero-image p { display: -webkit-box; display: -ms-flexbox; display: flex; opacity: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: white; text-align: center; font-size: 80px; line-height: 34px; letter-spacing: 6px; }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea { width: 100%; /* Full width */ padding: 20px; /* Some padding */ border: none; border-radius: none; -webkit-box-sizing: border-box; box-sizing: border-box; /* Make sure that padding and width stays in place */ margin-top: 6px; /* Add a top margin */ margin-bottom: 16px; /* Bottom margin */ resize: vertical; }
  input[type=email], select, textarea { width: 100%; /* Full width */ padding: 20px; /* Some padding */ border: none; border-radius: none; -webkit-box-sizing: border-box; box-sizing: border-box; /* Make sure that padding and width stays in place */ margin-top: 6px; /* Add a top margin */ margin-bottom: 16px; /* Bottom margin */ resize: vertical; }
  /* Style the submit button with a specific background color etc */
  input[type=submit] { font-size: 12px; font-weight: 400; width: 100px; height: 40px; background-color: #868B6F; letter-spacing: 2px; color: white; border: none; }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover { background-color: white; color: #868686; }
  /* Add a background color and some padding around the form */
  .container { border-radius: none; background-color: #f2f2f2; padding: 20px; }
  .pre-footer { height: 180px; background-color: #BABDAE; }
  .texto-pre-footer { color: black; padding-top: 75px; margin-left: 5%; font-size: 20px; text-align: center; }
  .input-formulario { font-size: 12px; width: 200px; height: 40px; letter-spacing: 3px; color: #C4C4C4; border: none; text-align: center; }
  .boton-send { font-size: 12px; font-weight: 400; width: 100px; height: 40px; background-color: #868B6F; letter-spacing: 3px; color: white; border: none; }
  p { letter-spacing: 2px; font-size: 14px; color: black; }
  /* Footer */
  .footer { display: -ms-grid; display: grid; padding: 0px; -ms-grid-columns: (1fr)[5]; grid-template-columns: repeat(5, 1fr); }
  .footer li { list-style: none; color: black; font-size: 14px; letter-spacing: 0.1rem; text-decoration: none; margin: 10px; text-align: center; }
  /* Hover Menú*/
  .footer li a:hover { color: #BABDAE; text-decoration: none; }
  .footer li a { color: black; text-decoration: none; margin: 0px; display: inline-block; } }
